In [1]:
import pandas as pd

In [3]:
df = pd.read_excel ('data\interests.xlsx')

In [4]:
df

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,Date,Domain Source
0,11-1011.00,Chief Executives,1.B.1.a,Realistic,OI,Occupational Interests,1.33,06/2008,Analyst
1,11-1011.00,Chief Executives,1.B.1.b,Investigative,OI,Occupational Interests,2.00,06/2008,Analyst
2,11-1011.00,Chief Executives,1.B.1.c,Artistic,OI,Occupational Interests,2.67,06/2008,Analyst
3,11-1011.00,Chief Executives,1.B.1.d,Social,OI,Occupational Interests,3.67,06/2008,Analyst
4,11-1011.00,Chief Executives,1.B.1.e,Enterprising,OI,Occupational Interests,7.00,06/2008,Analyst
...,...,...,...,...,...,...,...,...,...
8761,53-7121.00,"Tank Car, Truck, and Ship Loaders",1.B.1.e,Enterprising,OI,Occupational Interests,2.00,06/2008,Analyst
8762,53-7121.00,"Tank Car, Truck, and Ship Loaders",1.B.1.f,Conventional,OI,Occupational Interests,5.00,06/2008,Analyst
8763,53-7121.00,"Tank Car, Truck, and Ship Loaders",1.B.1.g,First Interest High-Point,IH,Occupational Interest High-Point,1.00,06/2008,Analyst
8764,53-7121.00,"Tank Car, Truck, and Ship Loaders",1.B.1.h,Second Interest High-Point,IH,Occupational Interest High-Point,6.00,06/2008,Analyst
8765,53-7121.00,"Tank Car, Truck, and Ship Loaders",1.B.1.i,Third Interest High-Point,IH,Occupational Interest High-Point,0.00,06/2008,Analyst