# Clustering Based on Holland Code

In [78]:
import pandas as pd

## Loading data

In [79]:
df = pd.read_excel ('data\interests.xlsx')

In [80]:
df[:6]

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,Date,Domain Source
0,11-1011.00,Chief Executives,1.B.1.a,Realistic,OI,Occupational Interests,1.33,06/2008,Analyst
1,11-1011.00,Chief Executives,1.B.1.b,Investigative,OI,Occupational Interests,2.00,06/2008,Analyst
2,11-1011.00,Chief Executives,1.B.1.c,Artistic,OI,Occupational Interests,2.67,06/2008,Analyst
3,11-1011.00,Chief Executives,1.B.1.d,Social,OI,Occupational Interests,3.67,06/2008,Analyst
4,11-1011.00,Chief Executives,1.B.1.e,Enterprising,OI,Occupational Interests,7.00,06/2008,Analyst
5,11-1011.00,Chief Executives,1.B.1.f,Conventional,OI,Occupational Interests,5.33,06/2008,Analyst

## Data Cleaning
Here we are only using RIASEC ( Realistic, Investigative, Artistic, Social, Enterprising, Conventional)

In [81]:
# Renaming the odd formated name
df.rename(columns = {'O*NET-SOC Code':'Code'}, inplace = True)

def rename_columns(columns)->dict:
    """
    Args  : Columns(list or panda dataframe columns)
    Return: Dictionary of columns, key as old name and value 
            as new formated name 
    """
    renamed_columns = {}
    
    for col in columns:
        renamed_columns[col]=col.replace(' ','_').lower()

    return renamed_columns
    

# Renaming column names
df.rename(columns = rename_columns(df.columns), inplace = True )

In [82]:
# Droping unwanted columns for our model
df = df.drop(['code','element_id','date','domain_source','scale_name'],axis=1)

In [83]:
df=df[df['scale_id']=='OI']

In [84]:
df = df.drop(['scale_id'],axis=1)

In [85]:
df=df.pivot(index='title',columns='element_name',values='data_value')

In [86]:
df=df.reset_index()

In [87]:
df.columns.name = None

In [88]:
df

,title,Artistic,Conventional,Enterprising,Investigative,Realistic,Social
0,Accountants,1.00,7.00,4.00,3.00,1.33,1.67
1,Actors,6.67,1.67,4.67,1.33,2.67,3.00
2,Actuaries,1.67,6.00,3.33,4.33,2.00,1.00
3,Acupuncturists,2.33,1.67,2.00,5.00,5.33,6.00
4,Acute Care Nurses,2.00,1.67,2.33,5.33,4.33,7.00
...,...,...,...,...,...,...,...
969,Wind Energy Project Managers,2.33,4.67,7.00,4.33,2.33,2.00
970,Wind Turbine Service Technicians,1.00,4.00,2.33,2.33,6.67,1.33
971,"Woodworking Machine Setters, Operators, and Te...",1.67,4.67,1.33,3.67,7.00,1.00
972,Word Processors and Typists,1.00,7.00,2.67,1.00,1.33,1.33
973,Zoologists and Wildlife Biologists,2.33,3.00,2.67,7.00,5.33,1.67

In [89]:
from sklearn.metrics.pairwise import cosine_similarity

In [98]:
interest_matrix = df[df.columns[1:]].values

In [99]:
similarity = cosine_similarity(interest_matrix, interest_matrix)

array([1.        , 0.59613061, 0.97093065, 0.60198256, 0.60792268,
       0.6678857 , 0.68067378, 0.82535129, 0.9251903 , 0.66935573,
       0.64719913, 0.8548239 , 0.82980623, 0.78334034, 0.68962452,
       0.85081906, 0.72731767, 0.54262211, 0.78979012, 0.68425153,
       0.77454179, 0.93616657, 0.7991578 , 0.75209784, 0.60779812,
       0.93052816, 0.81056169, 0.5888071 , 0.6478815 , 0.87599755,
       0.70506849, 0.71109279, 0.67650079, 0.72955862, 0.69598273,
       0.72477021, 0.72310876, 0.68045605, 0.92857095, 0.84085125,
       0.79011731, 0.72143466, 0.66459337, 0.73921069, 0.84426906,
       0.62474557, 0.92745353, 0.64705859, 0.68373385, 0.5856128 ,
       0.62860975, 0.95900704, 0.65473996, 0.66505569, 0.61554004,
       0.78835137, 0.64828645, 0.7318822 , 0.81627333, 0.72476078,
       0.98879898, 0.59545065, 0.73998285, 0.72475798, 0.67056356,
       0.69480442, 0.65945533, 0.75112336, 0.82038866, 0.74806463,
       0.72367962, 0.80983635, 0.72327014, 0.79732437, 0.82322973,
       0.88958375, 0.75403037, 0.96243898, 0.97697157, 0.74244562,
       0.68413723, 0.76539957, 0.92054376, 0.83302519, 0.78081992,
       0.78317247, 0.65362715, 0.79224534, 0.77584085, 0.76539957,
       0.89731622, 0.73963988, 0.82986185, 0.59500692, 0.99017733,
       0.7110643 , 0.76751953, 0.67790483, 0.78577081, 0.96472777,
       0.89739357, 0.98699718, 0.77596822, 0.60268383, 0.65463869,
       0.88679533, 0.88264335, 0.76522662, 0.78746093, 0.9108934 ,
       0.58828207, 0.66309823, 0.7424781 , 0.74434115, 0.73322322,
       0.69346994, 0.94106776, 0.63806645, 0.80769459, 0.95544547,
       0.64020855, 0.69213606, 0.73923786, 0.66087838, 0.69039458,
       0.75887548, 0.65283022, 0.74504523, 0.90110864, 0.88759387,
       0.72047669, 0.66576616, 0.64499093, 0.58419948, 0.95429432,
       0.81092262, 0.81704956, 0.75972595, 0.9791353 , 0.66356525,
       0.5707896 , 0.66887543, 0.82178346, 0.95799456, 0.85339494,
       0.6148341 , 0.88961669, 0.72030868, 0.74032514, 0.73933072,
       0.78882785, 0.87045365, 0.61060886, 0.77486265, 0.600766  ,
       0.71581394, 0.71958195, 0.87731406, 0.96142498, 0.94674046,
       0.7540577 , 0.92257527, 0.78675007, 0.82838746, 0.91879713,
       0.85234358, 0.77513344, 0.90669136, 0.75374675, 0.83132194,
       0.73759796, 0.9141184 , 0.792175  , 0.59500692, 0.76151487,
       0.73575578, 0.59986248, 0.83315975, 0.81985644, 0.69961713,
       0.75260425, 0.61563718, 0.81042289, 0.81825875, 0.72741378,
       0.70241528, 0.79393554, 0.75610264, 0.73629884, 0.85211686,
       0.80497819, 0.9741507 , 0.9551043 , 0.84628049, 0.66170011,
       0.61680854, 0.94262956, 0.67056356, 0.95199643, 0.9660496 ,
       0.55664323, 0.72284239, 0.97930635, 0.96947057, 0.9791859 ,
       0.89241769, 0.84970684, 0.64021146, 0.69554814, 0.66861462,
       0.76593262, 0.91493052, 0.86166777, 0.92044369, 0.76490886,
       0.62168618, 0.78525911, 0.78351069, 0.72644633, 0.48636928,
       0.94145401, 0.90448832, 0.95332468, 0.87661125, 0.86883621,
       0.8483285 , 0.70226842, 0.75831433, 0.71160307, 0.61215467,
       0.75017458, 0.72086624, 0.72605202, 0.67938975, 0.68886813,
       0.73705961, 0.7820627 , 0.73020292, 0.69716944, 0.93773227,
       0.92183286, 0.97691366, 0.86184864, 0.53243093, 0.76730287,
       0.7456632 , 0.77555764, 0.71488079, 0.7098866 , 0.86795991,
       0.77144851, 0.81122579, 0.8802703 , 0.80068779, 0.6725365 ,
       0.72826673, 0.64112193, 0.7788113 , 0.73970457, 0.75297683,
       0.75287101, 0.70905893, 0.63091359, 0.71422668, 0.76719578,
       0.7124089 , 0.70441134, 0.74545576, 0.76466904, 0.74342233,
       0.82762438, 0.7367867 , 0.79447825, 0.73094044, 0.74725416,
       0.73413255, 0.72544007, 0.76206537, 0.85663447, 0.80436572,
       0.79209744, 0.72424973, 0.74783559, 0.97521682, 0.89596374,
       0.68378429, 0.61242379, 0.70046083, 0.63463729, 0.85897607,
       0.81182189, 0.77590882, 0.81601302, 0.72346007, 0.61120709,
       0.76574799, 0.7361315 , 0.77445354, 0.82795699, 0.64629655,
       0.52836154, 0.97583969, 0.70277874, 0.77283041, 0.58538472,
       0.62281172, 0.7684569 , 0.50802481, 0.67110692, 0.66007428,
       0.69830404, 0.77035878, 0.74476323, 0.68244501, 0.82541643,
       0.50108005, 0.5443665 , 0.58031982, 0.76189405, 0.75584799,
       0.93502275, 0.66207464, 0.95318847, 0.95018478, 0.89932858,
       0.87740986, 0.51531837, 0.87927173, 0.82076652, 0.81492487,
       0.82432484, 0.76926771, 0.86400794, 0.82706467, 0.8598616 ,
       0.88945446, 0.83233254, 0.86179299, 0.84597602, 0.81864815,
       0.89686881, 0.89720151, 0.90129203, 0.85604287, 0.84692996,
       0.85503744, 0.87219479, 0.88691745, 0.67422003, 0.54978408,
       0.57176737, 0.8049197 , 0.8372271 , 0.74853128, 0.50594777,
       0.65521449, 0.82346367, 0.79694485, 0.81397804, 0.80413352,
       0.77148416, 0.674209  , 0.86798007, 0.63091359, 0.65990501,
       0.78053681, 0.81803575, 0.86458066, 0.68932178, 0.77034705,
       0.78355558, 0.73187055, 0.67644349, 0.7337315 , 0.71476055,
       0.86016987, 0.9846157 , 0.85355645, 0.73720177, 0.76424376,
       0.85730205, 0.67878266, 0.87395835, 0.71017148, 0.51943919,
       0.93997262, 0.94707346, 0.92731642, 0.89421425, 0.87520521,
       0.84901514, 0.91624818, 0.62168618, 0.85132414, 0.68416778,
       0.83744263, 0.66611173, 0.67680523, 0.85110006, 0.68573079,
       0.80347686, 0.70521053, 0.72402448, 0.88297797, 0.72967758,
       0.7925142 , 0.92332322, 0.73451361, 0.74146616, 0.59832413,
       0.96799928, 0.8179546 , 0.76387067, 0.61767751, 0.79757093,
       0.71748927, 0.56922255, 0.69567844, 0.72795392, 0.70957117,
       0.67601417, 0.71274599, 0.71235911, 0.66736858, 0.78146152,
       0.74639101, 0.55301859, 0.72991059, 0.68037881, 0.73412354,
       0.77251905, 0.62023207, 0.55931955, 0.74185699, 0.72313384,
       0.74397895, 0.77416804, 0.70233956, 0.74449114, 0.62089221,
       0.79026959, 0.6780913 , 0.62662755, 0.69238066, 0.78118877,
       0.92220702, 0.74639558, 0.97130818, 0.85957148, 0.89548243,
       0.5335328 , 0.73658882, 0.92192166, 0.7134262 , 0.92424012,
       0.78249525, 0.84889472, 0.81793902, 0.85305644, 0.71943973,
       0.93285642, 0.85741645, 0.73562479, 0.76392341, 0.77853349,
       0.89508409, 0.85945691, 0.86561597, 0.73128659, 0.80860049,
       0.57468104, 0.75671085, 0.97646494, 0.89853157, 0.97869897,
       0.98467294, 0.9028566 , 0.99107566, 0.88771671, 0.58878932,
       0.72831382, 0.69515122, 0.9165159 , 0.89352617, 0.97184316,
       0.69530817, 0.61358891, 0.83395012, 0.96577985, 0.65464529,
       0.89112959, 0.54857596, 0.66210333, 0.74354566, 0.71531666,
       0.69205128, 0.72552135, 0.83301142, 0.7190683 , 0.98470854,
       0.78639564, 0.93397506, 0.87217459, 0.74956557, 0.91750177,
       0.96790729, 0.70503356, 0.94568713, 0.65075448, 0.79488488,
       0.70302262, 0.84573095, 0.97400406, 0.95683966, 0.74377313,
       0.69008198, 0.75375283, 0.79990403, 0.89235915, 0.80595381,
       0.69079009, 0.92698762, 0.97943999, 0.85583525, 0.91206462,
       0.9204441 , 0.68203895, 0.56015866, 0.75817062, 0.82111812,
       0.76091877, 0.85782463, 0.7691658 , 0.74635888, 0.48669091,
       0.88300937, 0.78520556, 0.68303582, 0.78856742, 0.74331707,
       0.66408937, 0.90254657, 0.65994883, 0.758224  , 0.86196781,
       0.89695235, 0.86407033, 0.64033035, 0.6754129 , 0.75088593,
       0.7628247 , 0.86275305, 0.73129625, 0.78941576, 0.79193472,
       0.51712088, 0.63414554, 0.73069331, 0.70901217, 0.73907254,
       0.72426746, 0.7258619 , 0.65707715, 0.83909601, 0.833164  ,
       0.74588728, 0.96811903, 0.6473872 , 0.9481172 , 0.93951098,
       0.76606178, 0.79770475, 0.88848999, 0.87130682, 0.641971  ,
       0.68425768, 0.62843776, 0.75331797, 0.8863144 , 0.93863028,
       0.76714881, 0.71952788, 0.72254474, 0.6833111 , 0.57485686,
       0.64030093, 0.6313734 , 0.51712088, 0.55931955, 0.78857873,
       0.72883952, 0.63916045, 0.69527051, 0.66339976, 0.64710873,
       0.51760257, 0.74370216, 0.638307  , 0.81494436, 0.76495033,
       0.68493744, 0.80228384, 0.62377333, 0.63371472, 0.5819459 ,
       0.98645552, 0.74263839, 0.56685155, 0.71331437, 0.66399585,
       0.6360307 , 0.56610924, 0.6803681 , 0.527125  , 0.73246245,
       0.76423285, 0.78308656, 0.78006152, 0.81967517, 0.59416897,
       0.83667577, 0.75315106, 0.66537421, 0.60464508, 0.94493702,
       0.75729074, 0.80657638, 0.74451518, 0.78237543, 0.71313402,
       0.71963327, 0.8385493 , 0.73564817, 0.6681258 , 0.60405168,
       0.68112607, 0.51712088, 0.82526423, 0.76994676, 0.62993434,
       0.66832179, 0.85476485, 0.91737709, 0.74392326, 0.66192869,
       0.63283612, 0.94155956, 0.8161558 , 0.89426696, 0.72284239,
       0.90579409, 0.68678961, 0.87179196, 0.8837169 , 0.70241574,
       0.87360889, 0.71599636, 0.68636476, 0.94098879, 0.89986033,
       0.81400268, 0.69190262, 0.64699932, 0.60799777, 0.69570975,
       0.76316206, 0.60376618, 0.5761847 , 0.69786808, 0.58546535,
       0.77102901, 0.73662238, 0.96021701, 0.61191873, 0.77163719,
       0.8013064 , 0.90512447, 0.71781618, 0.66191161, 0.69497667,
       0.67865429, 0.59986248, 0.97274111, 0.70741093, 0.70459939,
       0.93481049, 0.73472306, 0.71833332, 0.83147785, 0.72235319,
       0.8528393 , 0.92653549, 0.90393016, 0.63067598, 0.85526377,
       0.56036957, 0.88991193, 0.724529  , 0.69648298, 0.62737739,
       0.61402596, 0.65783263, 0.6965354 , 0.6652725 , 0.71249908,
       0.67204219, 0.68909108, 0.79302932, 0.63961041, 0.58889712,
       0.56117062, 0.64112193, 0.77674638, 0.65253044, 0.63771804,
       0.84780375, 0.88956512, 0.81551088, 0.9288254 , 0.71980199,
       0.63649721, 0.91851482, 0.86432084, 0.88681981, 0.89688735,
       0.48386552, 0.62638649, 0.79626126, 0.75870589, 0.54829698,
       0.80035877, 0.77789851, 0.59888225, 0.76978421, 0.61309826,
       0.77044055, 0.77362222, 0.90291715, 0.82391927, 0.98240247,
       0.73551692, 0.8227492 , 0.96811805, 0.86194375, 0.93507956,
       0.89281984, 0.66600486, 0.73441991, 0.70842371, 0.67057676,
       0.69960542, 0.65386376, 0.73960441, 0.77413962, 0.755893  ,
       0.95327947, 0.91601832, 0.89822372, 0.91419646, 0.77671526,
       0.73592395, 0.72593969, 0.74898991, 0.65822413, 0.65215021,
       0.76968445, 0.69202427, 0.65274023, 0.60254207, 0.77472042,
       0.55931955, 0.6583706 , 0.85251611, 0.78948434, 0.89264082,
       0.88560404, 0.94945033, 0.65774179, 0.66814943, 0.65236057,
       0.73537015, 0.89760777, 0.7940597 , 0.68828435, 0.6614745 ,
       0.67514918, 0.76701287, 0.91429485, 0.97239148, 0.72637042,
       0.71442514, 0.68988388, 0.76784734, 0.73335764, 0.93527676,
       0.80427743, 0.6779219 , 0.72068711, 0.95276126, 0.83873917,
       0.77532149, 0.97596467, 0.72490743, 0.66687341, 0.66836928,
       0.7424979 , 0.5707896 , 0.60320624, 0.71660468, 0.74091694,
       0.51712088, 0.79260214, 0.87958934, 0.9287786 , 0.7918013 ,
       0.87796409, 0.93875952, 0.91986139, 0.72894545, 0.71494838,
       0.88633546, 0.69336612, 0.95993444, 0.89781961, 0.81556489,
       0.82946724, 0.90751897, 0.70796447, 0.60094218, 0.61956741,
       0.77686682, 0.78005122, 0.60941102, 0.74898032, 0.61288936,
       0.70351082, 0.68755676, 0.77486756, 0.53420094, 0.72478194,
       0.83088001, 0.78724153, 0.8853797 , 0.58538472, 0.69502382,
       0.64802044, 0.51499624, 0.67020263, 0.76485272, 0.86406438,
       0.93129147, 0.6995551 , 0.75680975, 0.8947343 , 0.65406657,
       0.66135639, 0.81053272, 0.83771472, 0.85333378, 0.67732197,
       0.76582117, 0.79896972, 0.74247905, 0.72099129, 0.85382733,
       0.72796571, 0.52749159, 0.69388803, 0.85606954, 0.67718124,
       0.66432899, 0.6613066 , 0.73277949, 0.63717528, 0.84561661,
       0.60922947, 0.95559481, 0.75033663, 0.96234782, 0.90839579,
       0.88328519, 0.81818099, 0.53443759, 0.54096051, 0.8779227 ,
       0.65671401, 0.74421465, 0.63015743, 0.80156298, 0.89504336,
       0.69850869, 0.86618297, 0.7331173 , 0.89711544, 0.84078457,
       0.76946994, 0.82482944, 0.93540962, 0.61268162, 0.75946367,
       0.76359791, 0.56922255, 0.96345975, 0.97358473, 0.72292794,
       0.79840578, 0.80165746, 0.81555552, 0.73463284, 0.79635198,
       0.76939668, 0.66250726, 0.89876594, 0.90112719, 0.96713705,
       0.52287255, 0.58464206, 0.5707896 , 0.75040065, 0.66882219,
       0.7162201 , 0.58168658, 0.72045951, 0.72175132, 0.95820103,
       0.63961041, 0.71568551, 0.60382752, 0.74208214, 0.79197128,
       0.77849554, 0.79851997, 0.80955466, 0.74660314, 0.91715134,
       0.8110443 , 0.82117376, 0.80776752, 0.8977324 , 0.90852286,
       0.97952659, 0.58999569, 0.6846391 , 0.80838137, 0.56380145,
       0.77965364, 0.67760718, 0.8369601 , 0.80201047, 0.667643  ,
       0.65544752, 0.71922702, 0.76068746, 0.63691577, 0.81906041,
       0.74285484, 0.85574585, 0.72042182, 0.76721751, 0.75224269,
       0.94497501, 0.86287201, 0.92718687, 0.65463869, 0.78263779,
       0.74309361, 0.91870715, 0.77260422, 0.92019249, 0.90460876,
       0.73451361, 0.7294715 , 0.96611637, 0.72117806])

In [102]:
# creating a Series for the movie titles so they are associated to an ordered numerical
# list I will use in the function to match the indexes
indices = pd.Series(df.index)

#  defining the function that takes in movie title 
# as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = similarity):
    
    # initializing the empty list of recommended movies
    recommended_occupation = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]
   

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_occupation.append(list(df.index)[i])
        
    return recommended_occupation

[477, 94, 60, 101, 605, 499, 475, 376, 739, 940]

,title,Artistic,Conventional,Enterprising,Investigative,Realistic,Social
94,"Bookkeeping, Accounting, and Auditing Clerks",1.00,7.00,3.67,2.33,2.33,1.67
95,Brickmasons and Blockmasons,2.67,4.33,1.33,4.33,7.00,1.00
96,Bridge and Lock Tenders,1.00,4.33,3.67,1.67,6.67,1.33
97,Broadcast News Analysts,6.33,2.33,4.67,4.00,1.33,5.00
98,Broadcast Technicians,1.67,5.33,2.00,4.33,7.00,1.67
...,...,...,...,...,...,...,...
969,Wind Energy Project Managers,2.33,4.67,7.00,4.33,2.33,2.00
970,Wind Turbine Service Technicians,1.00,4.00,2.33,2.33,6.67,1.33
971,"Woodworking Machine Setters, Operators, and Te...",1.67,4.67,1.33,3.67,7.00,1.00
972,Word Processors and Typists,1.00,7.00,2.67,1.00,1.33,1.33
973,Zoologists and Wildlife Biologists,2.33,3.00,2.67,7.00,5.33,1.67

In [115]:
 df.loc[recommendations(973)]

,title,Artistic,Conventional,Enterprising,Investigative,Realistic,Social
453,Hydrologists,3.00,3.00,2.67,7.00,5.33,1.33
91,Biomedical Engineers,2.67,3.67,2.33,7.00,5.67,2.00
34,Animal Scientists,2.33,3.00,2.00,7.00,5.33,1.00
404,"Geoscientists, Except Hydrologists and Geograp...",3.00,3.33,2.33,7.00,5.00,1.33
79,Biochemical Engineers,2.33,3.67,2.67,6.67,6.00,1.33
550,Materials Scientists,2.67,3.33,3.67,7.00,5.00,1.33
218,Cytotechnologists,1.67,3.33,1.67,6.67,5.00,1.67
627,Nuclear Engineers,1.67,3.67,2.33,7.00,5.33,1.00
581,Microbiologists,1.33,3.00,2.00,7.00,4.67,1.67
14,Aerospace Engineers,3.67,3.00,2.33,7.00,5.67,1.33

In [113]:
df

,title,Artistic,Conventional,Enterprising,Investigative,Realistic,Social
0,Accountants,1.00,7.00,4.00,3.00,1.33,1.67
1,Actors,6.67,1.67,4.67,1.33,2.67,3.00
2,Actuaries,1.67,6.00,3.33,4.33,2.00,1.00
3,Acupuncturists,2.33,1.67,2.00,5.00,5.33,6.00
4,Acute Care Nurses,2.00,1.67,2.33,5.33,4.33,7.00
...,...,...,...,...,...,...,...
969,Wind Energy Project Managers,2.33,4.67,7.00,4.33,2.33,2.00
970,Wind Turbine Service Technicians,1.00,4.00,2.33,2.33,6.67,1.33
971,"Woodworking Machine Setters, Operators, and Te...",1.67,4.67,1.33,3.67,7.00,1.00
972,Word Processors and Typists,1.00,7.00,2.67,1.00,1.33,1.33
973,Zoologists and Wildlife Biologists,2.33,3.00,2.67,7.00,5.33,1.67